body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #007bff;;
}

.job-card {
    position: relative;
    background: #fff;
    padding: 15px;
    margin-top: 20px;
    border-radius: 8px;
    border-left: 5px solid #007bff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.job-card:hover {
    transform: scale(1.01);
    background: #ffffff;
}

.job-time{
    position: absolute;
    right: 15px;
    bottom: 10px;

    font-size: 12px;
    color: gray;
    background-color: antiquewhite;
    padding: 3px 8px;
    border-radius: 5px;
}

.job-card h2 {
    margin: 0;
    color: #007bff;
}

.job-card p {
    margin: 8px 0;
    color: #555;
}

.job-card strong {
    color: #222;
}

button {
    width: auto; /* Overrides previous 100% width */
    min-width: 140px;
    padding: 12px 25px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap; /* Prevents button text from wrapping */
}

button:hover {
    background-color: #0056b3;
}
